.App {
    font-family: sans-serif;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: 6px auto;
    padding: 0 14px;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 350px;
    width: 100%;
}

.col-6 {
    width: 50%;
    height: 100%;
    min-width: 50%;
    padding: 8px;
    display: flex;
}

.text_wrap p,
.text_wrap textarea,
.text_wrap input {
    width: 100%;
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #4891f0;
    background-color: #fff;
    text-align: left;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    padding: 9px;
    border-radius: 4px;
    outline: none;
}

button {
    padding: 5px 12px;
    background-color: #4891f0;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 17px;
    width: 100%;
}